@media screen and (max-width: 950px) {
  .ul-container {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1300px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1900px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 950px) {
  .menu {
    display: none;
  }
}
